
:root{
   --charmander-color: #fb6b6b;
   --squirtle-color: #73bcfc;
   --pikachu-color: #ffce4b;
   --lumineon-color: #8fdedb;
}

.charmander{
    background: var(--charmander-color);
    box-shadow: 0px 0px 5px var(--charmander-color); /* sombra do card */
}
.charmander:hover{
    box-shadow: 0px 0px 25px var(--charmander-color); /* sombra do card */
}

.squirtle{
    background: var(--squirtle-color);
    box-shadow: 0px 0px 5px var(--squirtle-color); /* sombra do card */
}
.squirtle:hover{
    box-shadow: 0px 0px 25px var(--squirtle-color); /* sombra do card */
}

.pikachu{
    background: var(--pikachu-color);
    box-shadow: 0px 0px 5px var(--pikachu-color); /* sombra do card */
}
.pikachu:hover{
    box-shadow: 0px 0px 25px var(--pikachu-color); /* sombra do card */
}


.lumineon{
    background: var(--lumineon-color);
    box-shadow: 0px 0px 5px var(--lumineon-color); /* sombra do card */
}
.lumineon:hover{
    box-shadow: 0px 0px 25px var(--lumineon-color); /* sombra do card */
}